!!! 5
html
  head
    h1=title
  body
    <form action="/find" method="get" update="result">
    p
      label choose month: 
      <select name="select_month">
      <option label='January'>01</option><option label='February'>02</option><option label='March'>03</option><option label='April'>04</option>
      <option label='May'>05</option><option label='June'>06</option><option label='July'>07</option><option label='August'>08</option>
      <option label='September'>09</option><option label='October'>10</option><option label='November'>11</option><option label='December'>12</option>
      </select>
    p
      label choose day: 
      <select name="select_day">
      <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>
      <option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
      <option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option>
      <option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
      <option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option>
      </select>
    p
      label choose year: 
      <select name="select_year">
      <option>2009</option><option>2010</option><option>2011</option><option>2012</option>
      </select>
    p
      <input type="submit" value="Send">
    </form>
    
    #result