!!! 5
html
  head
    h1=title
  body
    p Welcome to #{title}
    p #{day_rate.timestamp}
    p runcode #{runcode}
    form(action="/", method='get')
      input(type="text", name="runcode")
      button(type='submit') run